/* dit is de holy grail layout */
body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}
header, footer {
  background: rgb(105, 126, 129);
  flex-basis: 100px;
  
}
header{
  
  justify-content: space-between;

  
}




main > *,header, footer{
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
  flex-grow: 1;
}


main {
  display: flex;
  min-height: 800px;
  
 
}

article {
 
  flex-basis: 70%;
  background: rgb(105, 126, 129);
  flex-grow: 1;
 
  

}

nav{
flex-basis: 10%;
background: rgb(105, 126, 129);
order: -1;


}
aside{
    flex-basis: 20%;
    background: rgb(105, 126, 129);
    flex-grow: 1;
}
.sidelist{
flex-direction: row;


}

  @media all and (max-width: 640px){
    main{
    flex-direction: column;
    flex-grow: 1;
    }
    nav{
      order:0;
    }
    
  }

li:hover{
  cursor: pointer;
}

.addpostbtn{
display: flex;
justify-content: flex-end;
background: rgb(105, 126, 129);
text-decoration-color: rgba(199, 212, 214, 0.63);

}

/* de !important attribute is heel ongewenst maar in dit geval noodzakelijk want er wordt gebruik gemaakt van verschillende externe stylesheets waar al !important gebruikt wordt
dit zorgt ervoor dat we bepaalde attributes niet kunnen overschrijven. daarom gebruiken we dit samen met de ID tag ( die een hoge spesificity heeft) */
h1,h2,h3 {
  color:rgba(38, 42, 51, 0.63)!important;
}
#donald{
  color:rgba(38, 42, 51, 0.63) !important;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 660px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}